/* PHASE 4: Footer */

.footer {
  width: 900px;
  background-color: #fff;
  margin: auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  font-family: sans-serif;
}

.footer-copy {
  float: left;
  padding: 20px
}

.footer-links {
  float: right;
  padding: 20px
}

.footer-links > li {
  float: left;
}

.footer a {
  padding: 5px;
}

.footer a:hover {
  background: #eee;
}
